@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

html {
  scroll-behavior: smooth;
}
